
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
   
</head>
<body class="bg-dark">
    <div  >
        @RenderPage("_Header.cshtml")
        @RenderBody()
    </div>

  
</body>
</html>
